<style type="text/css">  
   .form-group {
   margin-bottom: 10px;
   }
</style>



<div id="page-wrapper">
      <div class="container-fluid">


<%if @paciente.blank?%>
      <%= render 'shared/dosFilasVistas', tituloVentana: "Hist贸rico de Frascos solicitados y entregados" %>

        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-5">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
                <div style="text-align: center">
                  <h3 class="panel-title">Hist贸rico de Frascos</h3>
                </div>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item">Nombre:
                  <%=current_usuario.nombre%>
                  </li>
                  <li class="list-group-item">Apellido:
                  <%=current_usuario.apellido%>
                  </li>
                  <li class="list-group-item">Frascos:
                  <%=current_usuario.frascos%>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3"></div><!-- /.row -->



        <div class="row">
           <div class="col-sm-3"></div>
          <div class="col-sm-5">
            <%=link_to 'Regresar', admin_path %>
          </div>
          <div class="col-sm-3"></div>
        </div><!-- /.row -->

<%else%>

<div id="page-wrapper">
      <div class="container-fluid">
      <%= render 'shared/dosFilasVistas', tituloVentana: "Hist贸rico de Frascos solicitados y entregados" %>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
                <div style="text-align: center">
                  <h3 class="panel-title">Hist贸rico de Frascos</h3>
                </div>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item">
                  <table class="table table-condensed">
                  <tr>
                    <td><strong>Historia:</strong></td>
                    <td><%=@paciente.historia%></td>
                    <td><strong>Nombre de usuario:</strong></td>
                    <td><%=@paciente.username%></td>
                  </tr>
                  <tr>
                    <td><strong>Nombres:</strong></td>
                    <td><%=@paciente.nombre%></td>
                    <td><strong>Apellidos:</strong></td>
                    <td><%=@paciente.apellido%></td>                    
                  </tr>
                  <tr>
                    <td><strong>C.I.:</strong></td>
                    <td><%=@paciente.cedula%></td>
                    <td><strong>Frascos:</strong></td>
                    <td><%=@paciente.frascos%></td>                    
                  </tr>
                  </table>
                  </li>
                </ul>
              </div>
            </div>
          </div>
         <div class="col-sm-3"></div>  
        </div>
       <!-- /.row -->

        <div class="row">
           <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <%=link_to 'Regresar', usuarios_list_path%>
          </div>
          <div class="col-sm-3"></div>
        </div><!-- /.row -->

<%end%>


      </div><!-- /.container-fluid -->
    </div><!-- /#page-wrapper -->    